@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
  }
  body {
    background-color: #ffffff;
    color: #1a1a1a;
  }
  * {
    text-transform: lowercase;
  }
  code, pre {
    text-transform: none;
  }
  ::selection {
    background-color: #1a1a1a;
    color: #ffffff;
  }
}
